 body{
     background-color: pink;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
 }
 main {
     height: 300px;
     width: 200px;
     display: flex;
     justify-content:center;
     align-items: center;
     flex-direction: column;
     gap: 0.2rem;
 }
 .box {
     height: 300%;
     width: 300%;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .inner-box{
     background-color: black;
     height: 200px;
     width: 300px;
     border-radius: 5px;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 1rem;
     box-shadow: 0 0 3px 0.6px rgb(193, 119, 119);
 }
 .date{
     border: none;
     font-size: 0.5rem;
     width: 90px;
     height: 20px;
     border-radius: 3px;
     padding: 10px;
     
 }
 .calculate{
     font-size:  0.6rem;
     width: 50px;
     height: 20px;
     border: none;
     border-radius: 1px;

 }
 .inner-boxs{
     background-color: bisque;
     width: 50px;
     margin: 5px;
     border-radius: 5px;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     box-shadow: 0 0 3px 0.6px rgb(39,12,12);
     
 }
 .number{
     color:aqua;
     font-size: 1.6rem;

 }
.label {
    letter-spacing: 2px;
    font-size: 0.4rem;
    color:azure
}